body{
    margin-top: 5px;
    background-image: url('image/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    } 
.container {
    width: 90%; 
    max-width: 500px; 
    margin: 0 auto; 
    }
.shadow-lg {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    overflow: hidden;
    }
    
		